@import "tailwindcss";

@theme {
  --color-bakery-pink: #F06292;
  --color-bakery-pink-dark: #C2185B;
  --color-bakery-cream: #FFFFFF;
  --color-bakery-brown: #3B2621;
  --font-script: "Dancing Script", cursive;
  --font-body: "Poppins", sans-serif;
}